* {
  box-sizing: border-box;
  margin: 0rem;
  padding: 0rem;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border: 1px solid red;
  min-height: 4rem;
  margin-top: 1.5rem;
}

.weatherContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  border: 1px solid blue;
  width: 100%;
  min-height: 90vh;
}

.weatherCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  width: 15rem;
  height: 20rem;
  margin-top: 5rem;
}
.forecastCard {
  width: 100%;
  min-height: 15rem;
  display: flex;
  flex-direction: row;
  border: 1px solid black;
  margin-top: 3rem;
  
}
.forecastRow {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid red;
  margin: 0.5rem;
  flex: 1;
  
  
}
 @media only screen and (max-width:730px){
    .forecastCard{
        justify-content: start;
        /* align-items: none; */
        overflow-y: scroll;
    }
header{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.searchField{
    margin: 1rem;
}
 }