* {
  box-sizing: border-box;
  margin: 0rem;
  padding: 0rem;
}
body {
  font-family: Arial, sans-serif;
  min-height: 100v;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  clear: both;
  background-image: url("https://images.unsplash.com/photo-1604798048004-03a7abb05d12?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwzNjYyOTB8MHwxfHNlYXJjaHwxfHxzZWFzb25zfGVufDB8fHx8MTY2Mzk0NzYyMQ&ixlib=rb-1.2.1&q=80&w=1080");
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  min-height: 4rem;
  margin-top: 0.5rem;
}

.weatherContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 90vh;
}

.weatherCard {
  background-color: white;
  display: flex;
  border-radius: 1rem;
  flex-direction: column;
  align-items: center;
  width: 20rem;
  height: 25rem;
  margin-top: 1rem;
  overflow: unset;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.forecastCard {
  width: 100%;
  height: 15rem;
  display: flex;
  flex-direction: row;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}
.forecastRow {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0.5rem;
  flex: 1;
  border-radius: 1rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  background-color: white;
}

.hwDeg {
  display: flex;
  flex-direction: row;
}

.humidity,
.wind {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 7rem;
  width: 5rem;
  margin-right: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.temp {
  font-size: 5rem;
  margin-top: 1rem;
}
.tempforecast {
  text-align: center;
  width: 6rem;
  border-radius: 0.8rem;
  font-size: 1.5rem;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.currentState {
  background-color: white;
  text-align: center;
  width: 5rem;
  font-size: 1.2rem;
  border-radius: 0.3rem;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px,
    rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px,
    rgba(0, 0, 0, 0.07) 0px 16px 16px;
}

.location {
  background-color: white;
  text-align: center;
  width: 10rem;
  font-size: 1.2rem;
  border-radius: 0.3rem;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px,
    rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px,
    rgba(0, 0, 0, 0.07) 0px 16px 16px;
}

.search-box {
  transition: all 500ms ease-in-out;
  position: relative;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px,
    rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px,
    rgba(0, 0, 0, 0.07) 0px 16px 16px;
}
.search-box:hover {
  transform: scale(1.5);
}
.input-search {
  width: 13rem;
  height: 2rem;
  border-style: none;
  padding: 0 0.5rem;
  border-radius: 1rem;
}
i {
  font-size: 1rem;
}
.btn-search {
  position: absolute;
  background-color: white;
  border-style: none;
  top: 0;
  bottom: 0;
  right: 0;
  height: 2rem;
  padding: 0.5rem;
  border-radius: 1rem;
}
.btn-search:hover {
  cursor: pointer;
  background-color: black;
  color: white;
}

.appName {
  display: flex;
  flex-direction: row;
  width: 13rem;
  height: 2rem;
  background-color: white;
  justify-content: space-evenly;
  border-radius: 0.5rem;
  align-items: center;
}
.date {
  display: flex;
  flex-direction: row;
  width: 13rem;
  height: 2rem;
  background-color: white;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
}
.imgBox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6rem;
  height: 4rem;
  background-color: #80bde3;
  margin: 0.7rem;
  border-radius: 0.4rem;
}
#error {
  color: red;
  text-align: center;
}

@media only screen and (max-width: 730px) {
  .forecastCard {
    justify-content: start;
    align-items: none;
    overflow-y: scroll;
    height: 12rem;
  }
  header {
    flex-direction: column;
    margin-top: 1rem;
  }
  .search-box {
    margin: 0.6rem;
  }
  .forecastCard {
  }
  .futureday {
    font-size: 1.5rem;
  }
}
@media only screen and (max-width: 420px) {
  .search-box {
    margin: 0.8rem;
  }
  .weatherCard {
    width: 15rem;
    height: 20rem;
    margin-top: 0.7rem;
    padding: 0.6rem;
  }

  .forecastRow {
    margin: 0.5rem;
  }
  .humidity,
  .wind {
    height: 5rem;
    width: 3.8rem;
    padding: 0.6rem;
    border-radius: 1rem;
  }

  .temp {
    font-size: 3.8rem;
    margin-top: 1rem;
  }
  .tempforecast {
    width: 4rem;
    border-radius: 0.8rem;
    font-size: 1rem;
  }

  .input-search {
    width: 9rem;
    height: 1.8rem;
    padding: 0 0.5rem;
    border-radius: 1rem;
  }
  i {
    font-size: 0.8rem;
  }
  .btn-search {
    top: 0;
    bottom: 0;
    right: 0;
    height: 1.8rem;
    padding: 0.5rem;
    border-radius: 1rem;
  }

  .appName {
    width: 9rem;
    height: 1.8rem;
    font-size: 0.6rem;
    margin-top: 1.5rem;
  }
  .date {
    width: 9rem;
    height: 1.8rem;
  }
  .imgBox {
    width: 5rem;
    height: 3.5rem;
    margin: 0.6rem;
    border-radius: 0.4rem;
  }
}
